@charset "UTF-8";
.flex-center, #main-lugares .grid-container .grid-item .content, .main-infoutil, .main-sobre-mi .container-sobremi .left-section .image, .main-sobre-mi .container-sobremi .left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* Estilos generales para Header */
header {
  height: 15vh;
}
header .navbar {
  font-weight: 500;
  font-size: 15px;
  font-family: "Bitter", serif;
  height: 100%;
}
header .navbar-collapse {
  position: relative;
  z-index: 2;
}
header .navbar .logo {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1000px) {
  header .navbar .logo {
    max-width: 50%;
  }
}

/* Estilos generales para página Index */
#main-index {
  height: 75vh;
  background-image: url(https://images2.alphacoders.com/711/711694.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#main-index #h1-index {
  color: rgb(0, 0, 0);
  background: linear-gradient(to top, rgba(212, 205, 180, 0.589), rgba(199, 196, 185, 0.685));
  font-weight: 500;
  font-size: 50px;
  font-family: "Bitter", serif;
}
@media (max-width: 768px) {
  #main-index #h1-index {
    font-weight: 500;
    font-size: 30px;
    font-family: "Bitter", serif;
  }
}
#main-index #p-index {
  color: rgb(0, 0, 0);
  background: linear-gradient(to top, rgba(212, 205, 180, 0.589), rgba(199, 196, 185, 0.685));
  font-weight: 500;
  font-size: 30px;
  font-family: "Bitter", serif;
}
@media (max-width: 768px) {
  #main-index #p-index {
    font-weight: 500;
    font-size: 20px;
    font-family: "Bitter", serif;
  }
}
#main-index #boton-index {
  display: inline-block;
  padding: 5px 10px;
  background: rgba(212, 205, 180, 0.719);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 22px;
  border: 1px solid;
  border-color: rgb(0, 0, 0);
  text-align: center;
  width: 180px;
  height: 55px;
}
#main-index #boton-index a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 18px;
  font-family: "Bitter", serif;
}
@media (max-width: 768px) {
  #main-index #boton-index a {
    font-weight: 500;
    font-size: 12px;
    font-family: "Bitter", serif;
  }
}
#main-index #boton-index a:hover {
  color: rgb(151, 46, 46);
}
@media (max-width: 768px) {
  #main-index #boton-index {
    width: 120px;
    height: 40px;
  }
}

/* Estilos generales para página Sobre Mí */
.main-sobre-mi {
  background-image: linear-gradient(to top, rgba(212, 205, 180, 0.589), rgba(199, 196, 185, 0.685));
  padding: 80px 100px 70px 0px;
}
.main-sobre-mi #h1-sobremi {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 50px;
  font-family: "Bitter", serif;
  text-align: center;
  margin-bottom: 70px;
}
.main-sobre-mi .container-sobremi {
  display: flex;
  align-items: flex-start;
}
.main-sobre-mi .container-sobremi .left-section {
  flex: 1;
  flex-direction: column;
  gap: 5px;
}
.main-sobre-mi .container-sobremi .left-section .image {
  width: 100%;
  height: 480px;
  margin-top: 50px;
}
.main-sobre-mi .container-sobremi .left-section .image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.main-sobre-mi .container-sobremi .right-section {
  flex: 1;
  padding: 20px;
}
.main-sobre-mi .container-sobremi .right-section .p-sobremi {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 16px;
  font-family: "Bitter", serif;
  text-align: justify;
}
.main-sobre-mi .container-sobremi .right-section #h2-sobremi {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 40px;
  font-family: "Bitter", serif;
  text-align: center;
}

@media (max-width: 768px) {
  .main-sobre-mi {
    padding: 80px 15px 70px 15px;
  }
  .main-sobre-mi #h1-sobremi {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 30px;
    font-family: "Bitter", serif;
  }
  .main-sobre-mi .container-sobremi {
    flex-direction: column;
    gap: 40px;
  }
  .main-sobre-mi .container-sobremi .left-section, .main-sobre-mi .container-sobremi .right-section {
    flex: 100%;
  }
  .main-sobre-mi .container-sobremi .right-section {
    padding: 0;
  }
  .main-sobre-mi .container-sobremi .left-section .image {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .container-sobremi .left-section .image {
    max-width: 100%;
  }
}
/* Estilos generales para página Info Útil */
.main-infoutil {
  background-image: linear-gradient(to top, rgba(212, 205, 180, 0.589), rgba(199, 196, 185, 0.685));
  flex-direction: column;
  height: auto;
}
.main-infoutil .h1-infoutil {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 50px;
  font-family: "Bitter", serif;
  text-align: center;
  margin-top: 70px;
}
.main-infoutil .container-infoutil {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 90px;
}
.main-infoutil .container-infoutil .tarjeta-infoutil {
  background-color: rgb(34, 78, 78);
  border-radius: 5px;
  margin: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 0, 0);
  flex: 1 0 calc(45% - 40px);
  align-self: stretch;
}
.main-infoutil .container-infoutil .tarjeta-infoutil .tarjeta-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.main-infoutil .container-infoutil .tarjeta-infoutil .tarjeta-principal {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.main-infoutil .container-infoutil .tarjeta-infoutil .tarjeta-principal .h2-tarjeta {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 22px;
  font-family: "Bitter", serif;
  font-weight: bold;
}
.main-infoutil .container-infoutil .tarjeta-infoutil .tarjeta-principal .p-tarjeta {
  margin-bottom: 10px;
  text-align: justify;
  font-weight: 500;
  font-size: 18px;
  font-family: "Bitter", serif;
  color: rgb(0, 0, 0);
}
.main-infoutil .container-infoutil .tarjeta-infoutil .tarjeta-principal .boton-personalizado {
  margin: 0 auto;
  display: inline-block;
  padding: 15px 15px;
  background-color: rgb(226, 220, 187);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 22px;
  border: 2px solid;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  font-family: "Bitter", serif;
  width: 190px;
  height: 55px;
}
.main-infoutil .container-infoutil .tarjeta-infoutil .tarjeta-principal .boton-personalizado:hover {
  color: rgb(151, 46, 46);
}

@media (max-width: 499px) {
  .main-infoutil .h1-infoutil {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 30px;
    font-family: "Bitter", serif;
  }
  .main-infoutil .container-infoutil {
    justify-content: flex-start;
    align-items: center;
  }
  .main-infoutil .container-infoutil .tarjeta-infoutil {
    flex: 1 0 calc(90% - 40px);
  }
  .main-infoutil .container-infoutil .tarjeta-infoutil .tarjeta-principal .h2-tarjeta {
    font-weight: 400;
    font-size: 18px;
    font-family: "Bitter", serif;
  }
  .main-infoutil .container-infoutil .tarjeta-infoutil .tarjeta-principal .p-tarjeta,
  .main-infoutil .container-infoutil .tarjeta-infoutil .tarjeta-principal .boton-personalizado {
    font-weight: 400;
    font-size: 15px;
    font-family: "Bitter", serif;
  }
}
/* Estilos generales para páginas Info Útil */
#main-paginas-infoutil {
  background: linear-gradient(to top, rgb(113, 134, 118), rgb(189, 219, 193));
  padding: 100px 150px 100px 150px;
  box-sizing: border-box;
}
#main-paginas-infoutil #h1-paginas-infoutil {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  font-family: "Bitter", serif;
  margin-bottom: 20px;
}
#main-paginas-infoutil #h2-paginas-infoutil {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  font-family: "Bitter", serif;
}
#main-paginas-infoutil #h3-paginas-infoutil {
  color: rgb(0, 0, 0);
  text-align: justify;
  margin: 20px 0px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Bitter", serif;
}
#main-paginas-infoutil .video-paginas {
  max-width: 800px;
  margin: 40px auto;
}
#main-paginas-infoutil .video-paginas video {
  width: 100%;
  height: auto;
}
#main-paginas-infoutil .p-paginas-infoutil-items {
  color: rgb(0, 0, 0);
  text-align: left;
  text-decoration: underline;
  margin: 20px 0px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Bitter", serif;
}
#main-paginas-infoutil img {
  display: block;
  margin: 0 auto;
}
#main-paginas-infoutil .p-paginas-infoutil {
  color: rgb(0, 0, 0);
  text-align: justify;
  text-decoration: none;
  margin: 20px 0px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Bitter", serif;
}
#main-paginas-infoutil .p-paginas-infoutil a {
  color: rgb(15, 14, 14);
  text-decoration: underline;
  font-weight: bolder;
}
#main-paginas-infoutil .p-paginas-infoutil a:hover {
  color: rgb(197, 74, 74);
}

@media (max-width: 767px) {
  #main-paginas-infoutil {
    padding: 0 20px 0 20px;
  }
  #main-paginas-infoutil #h1-paginas-infoutil {
    font-weight: 600;
    font-size: 30px;
    font-family: "Bitter", serif;
  }
  #main-paginas-infoutil #h2-paginas-infoutil {
    font-weight: 600;
    font-size: 22px;
    font-family: "Bitter", serif;
  }
  #main-paginas-infoutil #h3-paginas-infoutil {
    font-weight: 400;
    font-size: 15px;
    font-family: "Bitter", serif;
  }
  #main-paginas-infoutil .p-paginas-infoutil-items {
    font-weight: 400;
    font-size: 16px;
    font-family: "Bitter", serif;
  }
  #main-paginas-infoutil .p-paginas-infoutil {
    font-weight: 400;
    font-size: 15px;
    font-family: "Bitter", serif;
  }
  #main-paginas-infoutil img {
    max-width: 100%;
    height: auto;
    padding: 20px;
  }
}
/* Estilos generales para página Lugares */
#main-lugares {
  background: linear-gradient(to top, rgba(212, 205, 180, 0.589), rgba(199, 196, 185, 0.685));
  position: relative;
  z-index: 1;
  padding: 70px 50px 50px 50px;
}
#main-lugares #h1-lugares {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 50px;
  font-family: "Bitter", serif;
  text-align: center;
  margin-bottom: 70px;
}
#main-lugares .grid-container {
  margin: 0px 50px 0px 50px;
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  height: 100%;
  overflow: hidden;
}
#main-lugares .grid-container #amsterdam {
  background-image: url(https://images.pexels.com/photos/2856012/pexels-photo-2856012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#main-lugares .grid-container #bariloche {
  background-image: url(https://images.pexels.com/photos/13452029/pexels-photo-13452029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#main-lugares .grid-container #berlin {
  background-image: url(https://images.pexels.com/photos/2570063/pexels-photo-2570063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#main-lugares .grid-container #javea {
  background-image: url(https://i.pinimg.com/564x/62/44/87/6244877808039f3fa7a159660c945f7c.jpg);
}
#main-lugares .grid-container #madrid {
  background-image: url(https://images.pexels.com/photos/930595/pexels-photo-930595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#main-lugares .grid-container #praga {
  background-image: url(https://images.pexels.com/photos/7245230/pexels-photo-7245230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#main-lugares .grid-container #roma {
  background-image: url(https://images.pexels.com/photos/3021382/pexels-photo-3021382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#main-lugares .grid-container #sofia {
  background-image: url(https://images.pexels.com/photos/8514532/pexels-photo-8514532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#main-lugares .grid-container .grid-item {
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: auto;
  transition: transform 0.5s ease;
  border: 5px solid transparent;
}
#main-lugares .grid-container .grid-item:hover {
  transform: scale(1.1);
}
#main-lugares .grid-container .grid-item .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#main-lugares .grid-container .grid-item a {
  text-decoration: none;
}
#main-lugares .grid-container .grid-item .p-ciudades-lugares {
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 40px;
  font-family: "Bitter", serif;
}
#main-lugares .grid-container .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  #main-lugares {
    padding: 0;
    height: auto;
  }
  #main-lugares #h1-lugares {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 30px;
    font-family: "Bitter", serif;
  }
  #main-lugares .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 0 20px 0 20px;
  }
  #main-lugares .grid-item {
    height: 50vh;
    width: 100%;
  }
}
/* Estilos generales para páginas Lugares */
.main-ciudades {
  background: linear-gradient(to top, rgb(113, 134, 118), rgb(189, 219, 193));
  padding: 100px 150px 100px 150px;
}
.main-ciudades .h1-ciudades {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  font-family: "Bitter", serif;
}
.main-ciudades .h2-ciudades {
  font-weight: 700;
  font-size: 35px;
  font-family: "Bitter", serif;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 50px 0px 50px 0px;
}
.main-ciudades .video-paginas {
  max-width: 800px;
  margin: 40px auto;
}
.main-ciudades .video-paginas video {
  width: 100%;
  height: auto;
}
.main-ciudades .p-ciudades {
  color: rgb(0, 0, 0);
  text-align: justify;
  font-weight: 500;
  font-size: 18px;
  font-family: "Bitter", serif;
}
.main-ciudades .p-ciudades a {
  color: rgb(15, 14, 14);
  text-decoration: underline;
  font-weight: bolder;
}
.main-ciudades .p-ciudades a:hover {
  color: rgb(197, 74, 74);
}
.main-ciudades .img-ciudades {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
.main-ciudades .p-azul-ciudades {
  color: rgb(0, 0, 0);
  text-align: justify;
  margin: 0px 100px 0px 100px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Bitter", serif;
}

@media (max-width: 767px) {
  .main-ciudades {
    padding: 0 20px 0 20px;
  }
  .main-ciudades .h1-ciudades {
    font-weight: 600;
    font-size: 30px;
    font-family: "Bitter", serif;
  }
  .main-ciudades .h2-ciudades {
    font-weight: 600;
    font-size: 22px;
    font-family: "Bitter", serif;
  }
  .main-ciudades .p-ciudades {
    font-weight: 400;
    font-size: 13px;
    font-family: "Bitter", serif;
  }
  .main-ciudades .img-ciudades {
    max-width: 100%;
    height: auto;
    padding: 20px;
  }
  .main-ciudades .p-azul-ciudades {
    font-weight: 400;
    font-size: 13px;
    font-family: "Bitter", serif;
  }
}
/* Estilos generales para página Contacto */
#main-contacto {
  padding: 20px 20px 80px 20px;
  display: grid;
  place-items: center;
  background-image: url(https://images6.alphacoders.com/546/546393.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#main-contacto #h1-contacto {
  padding: 50px 0px 50px 0px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 50px;
  font-family: "Bitter", serif;
}
@media (max-width: 767px) {
  #main-contacto #h1-contacto {
    font-size: 30px;
  }
}
#main-contacto .formulario {
  display: grid;
  gap: 20px;
  max-width: 500px;
  width: 100%;
  padding-bottom: 90px;
}
#main-contacto .formulario .categoria-formulario {
  display: grid;
  gap: 5px;
}
#main-contacto .formulario .categoria-formulario label {
  background-color: #95bd94;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 20px;
  font-family: "Bitter", serif;
}
#main-contacto .formulario .categoria-formulario input::placeholder,
#main-contacto .formulario .categoria-formulario textarea::placeholder {
  font-weight: 500;
  font-size: 15px;
  font-family: "Bitter", serif;
}
#main-contacto .formulario .categoria-formulario input {
  padding: 10px;
  height: 60px;
}
#main-contacto .formulario .categoria-formulario textarea {
  padding: 10px;
  width: 100%;
  height: 150px;
}
#main-contacto .formulario .enviar {
  display: flex;
  justify-content: center;
}
#main-contacto .formulario .enviar button {
  color: rgb(0, 0, 0);
  background-color: #95bd94;
  border-radius: 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  font-family: "Bitter", serif;
  padding: 15px 30px;
}
#main-contacto .formulario .enviar button:hover {
  color: rgb(216, 203, 203);
}

@media (max-width: 767px) {
  #h1-contacto {
    font-weight: 400;
    font-size: 25px;
    font-family: "Bitter", serif;
  }
  #main-contacto {
    padding: 10px;
  }
}
/* Estilos generales para Footer */
footer {
  height: 10vh;
  background-color: rgb(179, 165, 149);
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
footer .footer-container .redes-sociales {
  display: flex;
  gap: 10px;
}
footer .footer-container .redes-sociales img {
  width: 30px;
  height: 30px;
}
footer .footer-container .copyright {
  text-align: center;
  flex: 1;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  font-family: "Bitter", serif;
}
@media screen and (max-width: 767px) {
  footer .footer-texto p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
