.main-breadcrumb {
    margin: 0px 50px 0px 50px;
    padding-top: 20px;
    .breadcrumb {
        background-color: $color-fondo;
    }
    .breadcrumb-item {
        @include fuentes(500, 17px, $bitter);
        a {
            text-decoration: none;
            color: $color-principal;
        }
    }
}