footer {
    height: 10vh;
    background-color: rgb(179, 165, 149);
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        .redes-sociales {
            display: flex;
            gap: 10px;
            img {
                width: 30px;
                height: 30px;
            }
        }
        .copyright {
            text-align: center;
            flex: 1;
            margin: 0;
            @include fuentes(500, 15px, $bitter);
        }
    }
    @media screen and (max-width: 767px) {
        .footer-texto p {
            font-size: 12px;
        }
    }
}