/* Estilos generales para Header */
header {
    height: 15vh;
    .navbar {
        @include fuentes(500, 15px, $bitter);
        height: 100%;
        &-collapse {
            position: relative;
            z-index: 2;
        }
        .logo {
            max-width: 100%;
            height: auto;
        }
    }
    @media (max-width: 1000px) {
        .navbar .logo {
            max-width: 50%;
        }
    }
}
