/* Estilos generales para página Index */
#main-index {
    height: 75vh;
    background-image: url(https://images2.alphacoders.com/711/711694.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    #h1-index {
        color: $color-principal;
        background: linear-gradient(to top, $color-fondo-primero, $color-fondo-segundo);
        @include fuentes(500, 50px, $bitter);
        @media (max-width: 768px) {
            @include fuentes(500, 30px, $bitter);
        }
    }
    #p-index {
        color: $color-principal;
        background: linear-gradient(to top, $color-fondo-primero, $color-fondo-segundo);
        @include fuentes(500, 30px, $bitter);
        @media (max-width: 768px) {
            @include fuentes(500, 20px, $bitter);
        }
    }
    #boton-index {
        display: inline-block;
        padding: 5px 10px;
        background: $color-fondo-boton-index;
        color: $color-principal;
        text-decoration: none;
        border-radius: 22px;
        border: 1px solid;
        border-color: $color-principal;
        text-align: center;
        width: 180px;
        height: 55px;
        a {
            text-decoration: none;
            color: $color-principal;
            @include fuentes(500, 18px, $bitter);
            @media (max-width: 768px) {
                @include fuentes(500, 12px, $bitter);
            }
            &:hover {
                color: rgb(151, 46, 46);
            }
        }
        @media (max-width: 768px) {
            width: 120px;
            height: 40px;
        }
    }
}