.main-infoutil {
    height: 75vh;
    @include display(flex, center);
    background-color: $color-fondo;
    .container-infoutil {
        @include display(flex, center);
        flex-wrap: wrap;
        .tarjeta-infoutil {
            border-radius: 5px;
            margin: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            border: 1px solid $color-principal;
            width: 20%;
            flex: 1 0 calc(30% - 40px);
            .tarjeta-img {
                width: 100%;
                height: auto;
                border-radius: 5px 5px 0 0;
            }
            .tarjeta-principal {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .h2-tarjeta {
                    text-align: center;
                    @include fuentes(500, 20px, $bitter);
                }
                .p-tarjeta {
                    margin-bottom: 10px;
                    @include fuentes(400, 15px, $bitter);
                }
                .boton-personalizado {
                    display: inline-block;
                    padding: 5px 10px;
                    background-color: $color-fondo;
                    color: $color-principal;
                    text-decoration: none;
                    border-radius: 3px;
                    border: 1.5px solid;
                    border-color: $color-principal;
                    text-align: center;
                    @include fuentes(400, 15px, $bitter);
                }
            }
        }
    }
    @media (max-width: 767px) {
        .container-infoutil {
            justify-content: flex-start;
            align-items: center;
        }
        .main-infoutil {
            height: auto;
        }
        .tarjeta-infoutil {
            flex: 1 0 calc(90% - 40px);
        }
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        .container-infoutil {
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .tarjeta-infoutil {
            flex: 1 0 calc(40% - 40px);
            align-self: stretch;
        }
        .main-infoutil {
            height: auto;
        }
    }
}







