#main-lugares {
    background: linear-gradient(to top, $color-fondo-primero, $color-fondo-segundo);
    position: relative;
    z-index: 1;
    padding: 70px 50px 50px 50px;
    #h1-lugares {
        color: $color-principal;
        @include fuentes(500, 50px, $bitter);
        text-align: center;
        margin-bottom: 70px;
    }
    .grid-container {
        margin: 0px 50px 0px 50px;
        padding-bottom: 90px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        height: 100%;
        overflow: hidden;
        #amsterdam {
            background-image: url(https://images.pexels.com/photos/2856012/pexels-photo-2856012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        }
        #bariloche {
            background-image: url(https://images.pexels.com/photos/13452029/pexels-photo-13452029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        }
        #berlin {
            background-image: url(https://images.pexels.com/photos/2570063/pexels-photo-2570063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        }
        #javea {
            background-image: url(https://i.pinimg.com/564x/62/44/87/6244877808039f3fa7a159660c945f7c.jpg);
        }
        #madrid {
            background-image: url(https://images.pexels.com/photos/930595/pexels-photo-930595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        }
        #praga {
            background-image: url(https://images.pexels.com/photos/7245230/pexels-photo-7245230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        }
        #roma {
            background-image: url(https://images.pexels.com/photos/3021382/pexels-photo-3021382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        }
        #sofia {
            background-image: url(https://images.pexels.com/photos/8514532/pexels-photo-8514532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        }
        .grid-item {
            border-radius: 5px;
            text-align: center;
            position: relative;
            overflow: hidden;
            display: block;
            text-decoration: none;
            background-size: cover;
            background-position: center;
            height: 30vh;
            width: auto;
            transition: transform 0.5s ease;
            border: 5px solid transparent;
            &:hover {
                transform: scale(1.1)
            }
            .content {
                @extend .flex-center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
            }
            a {
                text-decoration: none;
            }
            .p-ciudades-lugares {
                color: $color-principal;
                @include fuentes(300, 40px, $bitter);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 768px) {
    #main-lugares {
        padding: 0;
        height: auto;
        #h1-lugares {
            margin-bottom: 40px;
            @include fuentes(500, 30px, $bitter);
            }
        .grid-container {
            grid-template-columns: 1fr;
            grid-gap: 10px;
            margin: 0 20px 0 20px;
        }
        .grid-item {
            height: 50vh;
            width: 100%;
        }
    }
}