#main-paginas-infoutil {
    background-color: #dad9c2;
    #h1-paginas-infoutil {
        font-family: 'Bitter', serif;
        font-weight: 800;
        color: black;
        text-align: center;
    }
    #h2-paginas-infoutil {
        font-family: 'Bitter', serif;
        font-weight: 700;
        color: black;
        text-align: center;
        margin: 50px 0px 100px 0px;
    }
    #main-paginas-infoutil img {
        display: block;
        margin: 0 auto;
    }
    #h3-paginas-infoutil {
        font-family: 'Bitter', serif;
        font-weight: 500;
        color: black;
        font-size: 18px;
        text-align: justify;
        margin: 100px 100px 0px 100px;
    }
    .p-paginas-infoutil-items {
        font-family: 'Bitter', serif;
        font-weight: 500;
        color: black;
        font-size: 20px;
        text-align: justify;
        text-decoration: underline;
        margin: 50px 100px 0px 100px;
    }
    .p-paginas-infoutil {
        margin: 20px 100px 0px 100px;
        font-family: 'Bitter', serif;
        font-weight: 500;
        color: black;
        font-size: 18px;
        text-align: justify;
        text-decoration: none;
    }
}

