#main-paginas-infoutil {
    background-color: #dad9c2;
    #h1-paginas-infoutil {
        color: rgb(0, 0, 0);
        text-align: center;
        @include fuentes(800, 40px, $bitter);
        }
    #h2-paginas-infoutil {
        color:rgb(0, 0, 0);
        text-align: center;
        margin: 50px 0px 100px 0px;
        @include fuentes(700, 30px, $bitter);
    }
    #main-paginas-infoutil img {
        display: block;
        margin: 0 auto;
    }
    #h3-paginas-infoutil {
        color: rgb(0, 0, 0);
        text-align: justify;
        margin: 100px 100px 0px 100px;
        @include fuentes(500, 18px, $bitter);
    }
    .p-paginas-infoutil-items {
        color: rgb(0, 0, 0);
        text-align: justify;
        text-decoration: underline;
        margin: 50px 100px 0px 100px;
        @include fuentes(500, 20px, $bitter);
    }
    .p-paginas-infoutil {
        margin: 20px 100px 0px 100px;
        color: rgb(0, 0, 0);
        text-align: justify;
        text-decoration: none;
        @include fuentes(500, 18px, $bitter);
    }
}

